#itivos_social_list_link {
	margin: 0px;
	padding: 0px;
}
#itivos_social_list_link  li{
	display: inline-grid;
}
#itivos_social_list_link li a {
	width: 36px;
	opacity: 0.8;
	padding-right: 10px;
}
#itivos_social_list_link li a:hover {
	opacity: 1;
}
#itivos_social_list_link li a span.twitter{
    fill: #222; 
}
#itivos_social_list_link li a span.facebook{
	fill: #1877F2 ;
}
#itivos_social_list_link li a span.instagram{
    fill: #C13584;
}
#itivos_social_list_link li a span.youtube{
    fill: #FF0000;
}
#itivos_social_list_link li a span.linkedin{
    fill: #0077B5;
}
